<div xmlns:th="http://www.thymeleaf.org" th:fragment="tablefragment">
    <table>
        <tr>
            <th>imię</th>
            <th>nazwisko</th>
            <th>wiek</th>
            <th>waga w kg</th>
            <th>wysokość w cm</th>
            <th>płeć</th>
            <th>aktywność</th>
            <th>zapotrzebowanie na kalogie</th>
            <th>zapotrzebowanie na białko w gramach</th>
            <th>zapotrzebowanie na tłuszcze w gramach</th>
            <th>zapotrzebowanie na węglowodany w gramach</th>
        </tr>
        <tr th:each="fooduser : ${foodusers}">
            <td th:text="${fooduser.getFirstname()}"></td>
            <td th:text="${fooduser.getSurname()}"></td>
            <td th:text="${fooduser.getAge()}"></td>
            <td th:text="${fooduser.getWeight()}"></td>
            <td th:text="${fooduser.getHeight()}"></td>
            <td th:text="${fooduser.isSex()}"></td>
            <td th:text="${fooduser.getActivity()}"></td>
            <td th:text="${fooduser.getUserNutrients().getKcal()}"></td>
            <td th:text="${fooduser.getUserNutrients().getProtein()}"></td>
            <td th:text="${fooduser.getUserNutrients().getFat()}"></td>
            <td th:text="${fooduser.getUserNutrients().getCarbohydrates()}"></td>

            <td>
                <form action="/foodusers/delate">
                    <input type="hidden" name="id" th:value="${fooduser.getId()}">
                    <button type="submit">delete</button>
                </form>
            </td>
            <td>
                <form action="/foodusers/update">
                    <input type="hidden" name="id" th:value="${fooduser.getId()}">
                    <button type="submit">update</button>
                </form>
            </td>
        </tr>
    </table>

</div>