<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>name</th>
    </tr>
    <tr th:each="meal : ${meals}">
        <td th:text="${meal.getName()}"></td>
        <td>
            <form action="/meals/delete">
                <input type="hidden" name="id" th:value="${meal.getId()}">
                <button type="submit">delete</button>
            </form>
        </td>

    </tr>
</table>
</body>
</html>